//bm2u.de styles
@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,700');
@import url('https://fonts.googleapis.com/css?family=Permanent+Marker');

@import "~bootstrap/scss/bootstrap-reboot";
@import "layout";

@keyframes turn-around {
  0% {top: - .5rem; left: - .5rem;}
  25% {left: 29.5rem; top: - .5rem;}
  50% {left: 29.5rem; top: 14.5rem;}
  75% {left: - .5rem; top: 14.5rem;}
  100% {top: - .5rem; left: - .5rem;}
}

.container {
  display: table;
  padding: 1em;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);

  @include media-breakpoint-up(sm) {
    @include size(30rem, 15rem);
    border: 2px solid  #000;
    padding: 0;
  }
}

.badge {
  @include size(100%);
  position: relative;
  color: #000;
  font-family: 'Permanent Marker', cursive;
  font-weight: 400;
  margin: 0;
  font-size: 1rem;
  display: table-cell;
  vertical-align: middle;
  text-align: center;

  @include media-breakpoint-up(sm) {
    font-size: 2rem;
  }

  &::before {
    @include size(1rem);
    @include border-radius(50%);
    content: ' ';
    display: none;
    animation: turn-around 5s ease-in-out infinite;
    position: absolute;
    background: #fff;

    @include media-breakpoint-up(sm) {
      display: block;
    }
  }

  // &::after {
  //   content: 'bm2u.de';
  //   font-weight: 400;
  //   font-family: 'Raleway', sans-serif;
  //   font-size: 1rem;
  //   position: absolute;
  //   top: 11rem;
  //   left: 50%;
  //   transform: translateX(-50%);

  //   @include media-breakpoint-up(sm) {
  //     top: 16rem;
  //   }
  // }
}
